<!DOCTYPE html>
<html>
	<head>
		<title>Book Select Screen</title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<!--<nav>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>-->
		<div class="main-content">
			<div class="vert-container">
				<div class="container">
					{{{body}}}
				</div>
			</div>
		</div>
		<!--<footer>
		</footer>-->
	</body>
</html>
